<div class="navbar fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Brand name/logo aligned left -->
            <a class="navbar-brand" href="/home">ใบอะไร (หลังบ้าน)</a>

            <!-- Navbar links and collapse -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <!-- Verify Records -->
                    <li class="nav-item" th:if="${userRole == 'ADMIN' or userRole == 'EXPERTS'}">
                        <a class="nav-link" href="/verifyrecord">ยืนยันข้อมูล</a>
                    </li>                    
                    <!-- Export Dataset -->
                    <li class="nav-item" th:if="${userRole == 'ADMIN' or userRole == 'DEVELOPER'}">
                        <a class="nav-link" href="/exportdataset">ส่งออกชุดข้อมูล</a>
                    </li>
                    <!-- Medicine Info -->
                    <li class="nav-item">
                        <a class="nav-link" href="/medicines/viewall">ข้อมูลยา</a>
                    </li>
                    <!-- Plant Info -->
                    <li class="nav-item">
                        <a class="nav-link" href="/plants/name/viewall">ข้อมูลพืช</a>
                    </li>
                    <!-- User Management -->
                    <li class="nav-item" th:if="${userRole == 'ADMIN'}">
                        <a class="nav-link" href="/usercontrol">จัดการผู้ใช้</a>
                    </li>
                </ul>

                <!-- Logout button pushed to the right -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="font-weight: 400;">ลงชื่อออก</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
