<div class="navbar fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
        <div class="container">
            <a class="navbar-brand" href="/">ใบอะไร</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/upload">สแกนหาใบพืช</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/medicines/find">ค้นหาสูตรยา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/uploadfordataset">อัปโหลดรูปภาพ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>